/* #heading {
    color: red;
} */

.header {
    display: flex;
    border: 1px solid black;
}

.logo-container {
    width: 30%;
}

.nav-items {
    width: 70%;
}

.logo {
    width: 150px;
}

.nav-items > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 25px;
    float: right;
}

.nav-items > ul > li {
    padding: 20px 25px;
}

.body {
    width: 100%;
}

.res-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    padding: 5px;
    margin: 10px;
    background-color: #f0f0f0;
}

.resLink {
    width: 16%;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.res-logo {
    width: 100%;
}

.search {
    margin: 10px;
}

.filter-btn, .lessTimeDeliveryRes-btn {
    cursor: pointer;
    margin: 10px;
}

.shimmer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 14%;
    margin: 10px;
    background-color: #f0f0f0;
    height: 300px;
}

.log-btn{
    padding: 10px;
    cursor: pointer;
    background: lightyellow;
    border: 1px solid #c9e9c9;
}

.search-btn {
    margin-left: 10px;
    cursor: pointer;
}

.filter {
    display: flex;
    margin: 10px;
}

.search-container {
    margin: 10px 10px 0px 0px;
}

.user-functional, .user-class {
    padding: 10px;
    border: 1px solid black;
}